body{
    padding:0;
    margin:0;
    background-color: black;
}
.thumbnaildiv{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 700px;
    background-image: url('bugboardingthumb.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px solid black;
} 


.playbutton{
    border-color: white;
    color: white;
    font-family: "Fredoka", sans-serif;
    border-width: 5px;
    border-radius: 10px;
    background-color: black;
    font-size: 30px;
    position: absolute;
    width: 200px;
    height: 75px;
    top: 80%;
    right: 10px;
        z-index: 2;
}
.playbutton:hover{
    position: absolute;
    background-color: white;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);

}
.teamsize{
    position:absolute;
    width: 70px;
    height: 70px;
    top: 55%;
    left: 25px;
        z-index: 1;
}
.time{
    position:absolute;
    width: 70px;
    height: 70px;
    top: 68%;
    left: 25px;
         z-index: 1;
}
.title{
    font-family: "Fredoka", sans-serif;
    color:white;
    font-size: 60px;
    position: absolute;
    top: 70%;
    left: 30px;
        z-index: 1;;
    
}
.countTime{
    font-family: "Fredoka", sans-serif;
    color:white;
    font-size: 30px;
    position: absolute;
    top: 67%;
    left: 100px;
        z-index: 1;
    
}

.back{
    border-color: white;
    color: white;
    font-family: "Fredoka", sans-serif;
    border-width: 5px;
    border-radius: 10px;
    background-color: black;
    font-size: 20px;
    position: fixed;
    width: 100px;
    height: 50px;
    top: 1%;
    left: 10px;
     z-index: 1;
}
.back:hover{
    background-color: white;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.gradientoverlay{
    position: relative;
    margin: auto;
    width: 100%;
    height: 700px;
    border: 0px solid black;
    background: linear-gradient(transparent, black);
    pointer-events:none;
        z-index: 1;
}




.text{
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:white;
    font-size: 30px;
    margin: auto;
    gap: 30px;
}

.trailer{
    display: flex;
    justify-content: flex-start;
}

.descrih{
    width: 750px;
    display: flex;
    justify-content: flex-start;
    color:white;
    font-size: 30px;
    font-family: "Fredoka", sans-serif;
}

.info{
    display: flex;
    justify-content: flex-start;
    width: 750px;
    color:white;
    font-size: 30px;
    font-family: "Fredoka", sans-serif;
    align-items: center;
}

.general{
    
}